
.nav{
    display:flex;
    justify-content: center;
    color: rgb(69, 69, 130);
}


.box{
    background-color:#f8f9fa;
    width: 620px;
    height: 100px;
    overflow-y: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:hover{
    background-color:rgb(238, 203, 232);
}

